
  <div class="container">
    <div class="card">
        <h4> <%= @meal.name.capitalize %> </h4>
        <p>cooked with love by <%= @meal.user.email %></p>
      </div>
      <%= link_to 'Back to Meals', meals_path, class: "btn btn-outline-dark" %>
  </div>
