
  <div class="container">
    <div class="card">
        <h3> <%= @meal.name.capitalize %></h3>
        <%= link_to 'Back to Meals', meals_path, class: "btn btn-outline-dark" %>
      </div>
  </div>
